.editor-container{
    button {
        border: none;
        padding: 0.5em 2em;
        border-radius: 0.3em;
    }
    input[type=text] {
        border-radius: 0.3em;
        border: solid #999 2px;
        // text-align: center;
        &:focus {
            outline: none;
            border: solid #333 2px;
        }
    }
}

#mainTextBox {
    font-size: 1.25em;
    width: 100%;
    margin: auto;
    resize: vertical;
    border: solid #999 2px;
    // float: left;
    margin-top: 1em;
    padding: 10px;
    min-height: 200px;
    border-radius: 0.3em;
    &:focus {
        outline: none;
        border: solid #333 2px;
    }
    // span:nth-of-type(1) {
    //     color: red;
    // }
    // span:nth-of-type(3) {
    //     // font-size: 1.3em;
    //     animation: blinker 1s linear infinite;
    // }
}

.flashing {
    animation: blinker 1s linear infinite;
    font-size: 1.3em;

}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}  