header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

.blinky {
    animation-name: blinkAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blinkAnim {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

.navbar-nav {
    @media (max-width: 990px) {
        position: fixed;
        right: 0;
        text-align: right;
        background-color: rgba(255, 255, 255, 0.692);
        padding: 1em;
        border-radius: 1em;
    }
}
