.card-heading {
  color: #f65100;
}

.card-text {
  color: #5895b2;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-card {
  width: 15em;
  height: 25em;
  background: #f2f4f2;
  color: white;
  margin: auto 2em;
  border-radius: 0.5em;
  padding: 2em;
}
