ul {
  list-style-type: none;
  padding-left: 0;
  li {
    font-size: 1.1em;
  }
}

.home-upper-content {
  width: 100%;
  // height: 80vh;
}

.main-copy {
  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.typing-effect {
  font-family: monospace;
  min-width: 21em;
  font-size: 2em;
  @media (max-width: 990px) {
    font-size: clamp(.8em, 3vw, 2em);
    
  }
}

.home-image-div {
  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home-image {
  width: clamp(200px, 60vw, 600px);
  // width: 100%;
  // @media (max-width: 990px) {
  //   width: 50vw;
  // }
}

.home-bottom-content {
  background: radial-gradient(
      73.86% 182.78% at 0% 0%,
      #58a7b2 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #5895b2;
  width: 100%;
}

.homeHeader {
  color: #f2f4f2;
}

.pathSparkle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.diamondSt {
  animation-name: diamondStroke;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.diamondSt2 {
  animation-name: diamondStroke;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.diamondSt3 {
  animation-name: diamondStroke;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.diamondSt4 {
  animation-name: diamondStroke;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes diamondStroke {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
