.home-bottom-content {
    background: #888;
    width: 100%;
}

.pathSparkle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.diamondSt {
    animation-name: diamondStroke;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.diamondSt2 {
    animation-name: diamondStroke;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.diamondSt3 {
    animation-name: diamondStroke;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.diamondSt4 {
    animation-name: diamondStroke;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes diamondStroke {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
